*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
body{
    position: fixed;
}
/* Scroll Effect */
main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section{
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}
::-webkit-scrollbar {
    display: none;
  }

/* Navigation */
.nav{
    position: sticky;
    z-index: 100;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 8px black;
    background-color: #3D0000;
}
.nav-logo{
    margin-right: -90px;
}
.logo{
    width: 60%;
}
.nav-links{
    display: flex;
    gap: 40px;
}
.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: .9s ease-in;
}
.nav-links a:hover{
    transform: scale(1.05);
    transition: .9s ease-out;
}
.nav-socials{
    margin-left: 120px;
    gap: 30px;
}
.nav-socials a{
    font-size: 23px;
}
.nav-socials a:hover{
    transform: scale(1.2);
    transition: .9s ease-out;
}
.active{
    font-weight: bold;
    text-decoration: underline;
}

/* Home Page */
#home{
    padding-top: 18vh;
}
.home-content img{
    width: 30%;
    padding-bottom: 20px;
}
.home-content h2{
    font-weight: normal;
    padding-bottom: 20px;
    max-width: 40%;
    margin: 0 auto;
}
.home-content a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.home-btns{
    display: flex;
    justify-content: center;
}
.home-btns a{
    margin: 0 20px;
    border-style: none;
    background-color: #3D0000;
    padding: 15px 32px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    transition: .5s ease-in;
}
.home-btns a:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 10px 8px black;
    transition: .5s ease-in;
}
.home-btns a:active{
    transform: translateY(5px);
    box-shadow: 5px 5px 8px black;
    transition: .1s ease-in;
}

/* About Page */
#about{
    padding-top: 5vh;
}
.about-section{
    margin-top: 10vh;
    display: flex;
    gap: 0 5vw;
    justify-content: center;
}
.about-pic{
    width: 25%;
    border-radius: 10%;
    box-shadow: 5px 5px 8px black;
}
.text-section{
    width: 25%;
}
#about p{
    margin-bottom: 20px;
    text-align: left;
}

/* Experience Page */
#experience{
    padding-top: 5vh;
}
.experience-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
    cursor: pointer;
}
.card > div{
    box-shadow: 0px 0px 8px black;
}
.card-img{
    width:30vw;
    height:30vh;
}
.card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
}
.card-content{
    margin:-30px auto;
    height: 290px;
    width: 400px;
    background-color: white;
    padding:20px;
    z-index: 100;
}
.experience-date{
    font-style: italic;
    font-size: .9rem;
}
.experience-title{
    margin: 10px 0;
}
.languages{
    margin-top: 10px;
    font-size: 25px;
}
.experience-links{
    padding: 10px;
    background-color: white;
    color:#3D0000;
    font-size: 1rem;
    display:flex;
    margin: auto;
    z-index: 100;
}
.role{
    padding: 10px;
    background-color: #3D0000;
    color:white;
    font-size: 1rem;
    margin-left: auto;
    display:flex;
    z-index: 100;
}

/* Skills Page */
#skills{
    padding-top: 5vh;
}
.skills-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}
.row{
    width: 30%;
}
.row > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-style: solid;
    border-color: #3D0000;
    background-color: white;
}
.skill-icons{
    display: flex;
    align-items: center;
}
.skill-icons p{
    font-size: 40px;
}
.skills-container i{
    font-size: 70px;
}
.skills-container img{
    max-width: 60px;
}

/* Contact Page */
#contact{
    padding-top: 5vh;
}
.contact-intro{
    margin: 10px 0;
}
.contact-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social-btns a{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    width: 350px;
    color: black;
    text-decoration: none;
    transition: 1s;
}
.social-btns a:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #3D0000;
    transition: 1s;
}
.social-btns i{
    padding-right: 5px;
    font-size: 16px;
    transition: 1s;
}
.contact-form{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    background-color: #3D0000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 40%;
}
form input, form textarea{
    border: 0;
    outline: none;
    margin: 10px 0;
    font-size: 16px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}
form button{
    width: 25%;
    margin: 20px auto 0;
    padding: 15px;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 5px 5px 8px black;
    transition: .5s ease-in;
    font-size: 15px;
}
form button:hover{
    transform: translateY(-5px);
    box-shadow: 5px 10px 8px black;
    transition: .5s ease-in;
    cursor: pointer;
    color: #3D0000;
}
form button:active{
    transform: translateY(-5px);
    box-shadow: 5px 10px 8px black;
    transition: .5s ease-in;
    color: #3D0000;
}